ion-content {
  --background: #1761ff;
}

ion-toolbar {
  --background: transparent;
}

.card {
  margin: 0 auto;

  .header {
      height: 200px;

      .avatar {
          width: 160px;
          height: 160px;
          position: relative;
          margin: 0 auto;

          img {
              display: block;
              border-radius: 50%;
              position: absolute;
              bottom: calc(-1*(80px + 4px));
              //border: 3px solid #000000;
              background-color: rgba(252, 252, 252, 0.411);
              backdrop-filter: blur(6px);
          }
      }
  }
}
.card-body {
  height: 200px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3rem 3rem 0 0;
  //bottom: 0;
  //padding: 30px;
  height: calc(100vh - (100px + 56px));
  overflow: none;

  .user-meta {
      padding-top: 40px;

      .playername {
          font-size: 24px;
          font-weight: 600;
          color: #000000;
      }

      .country {
          font-size: 90%;
          color: #000000;
          text-transform: uppercase;
          margin: 0 auto;
      }
      h6{
        color: #000000;
      }
      ion-icon{
        color: #1761ff;
      }
      ion-label{
        color: #1761ff;
      }
  }
}

.panel{
  width: 80px;
}


ion-button{
  --background: #141414;
  --width: 60px;
     height: 50px;
  --border-radius: 15px;
}

ion-card{
    width: 200%;

    box-shadow: none;
    border-radius: 10px;
  }


