<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" >


  <div class="panel">
    <ion-tab-button tab="inicio">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-tab-button>
  </div>

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="/assets/icon/3d icon/download.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">David</h3>
      <h5 class="country">Plata</h5>
      <button ion-button black (click)="sacarCamara">Tomar Camara</button>
      <button ion-button black (click)="tomarGaleria">Tomar Galeria</button>
      <img [src]="" *ngIf="">

      <h6 class="ranking">Notificaciones: <ion-chip>
        <ion-icon name="notifications"></ion-icon>
        <ion-label>2</ion-label>
        </ion-chip>
      </h6>
    </div>

    <div class="opciones">

      <ion-card color="light">
        <button ion-item>
          <ion-card-title><ion-icon name="person-circle-outline"></ion-icon></ion-card-title>
          <ion-card-subtitle>Editar Perfil</ion-card-subtitle>
        </button>
      </ion-card>



      <ion-card color="light">
        <button ion-item>
          <ion-card-title><ion-icon name="bookmark-outline"></ion-icon></ion-card-title>
          <ion-card-subtitle>Guardados</ion-card-subtitle>
        </button>
      </ion-card>

      <ion-card color="light">
        <button ion-item>
          <ion-card-title><ion-icon name="bag-check-outline"></ion-icon></ion-card-title>
          <ion-card-subtitle>Compras</ion-card-subtitle>
        </button>
      </ion-card>
    </div>

      <h5>Tarjetas</h5>
      <ion-slides [options]="option" class="ion-margin-top">
        <ion-slide>
          <ion-card>
            <img src="/assets/icon/card1.png">
          </ion-card>

          <ion-card>
            <img src="/assets/icon/card 2.png">
          </ion-card>

        </ion-slide>

        </ion-slides>
      </div>

