<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides [options]="slideOpts" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src="/assets/img/1.png.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="" >
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="">
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
