<ion-header>
</ion-header>

<ion-content>
  
  <!---Intro-->
  <div class="logo">
    <img src="/assets/icon/noticiasrick.png" alt="">
  </div>
  <!---Slide-->

  <div class="slide">
    
    <h1>Noticias nuevas</h1>
    <ion-slides [options]="option" >
      <ion-slide >
        <ion-card>
          <img src="/assets/img/noticia1.png">
          <ion-card-header>
            <ion-card-title>¡Rick y Morty temporada 6 episodio 7</ion-card-title>
            <ion-card-subtitle>será una verdadera locura! Mira el primer adelanto en...</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-card>
       </ion-slide>

       <ion-slide >
        <ion-card>
          <img src="/assets/img/noticia2.jpg">
          <ion-card-header>
            <ion-card-title>El anime de "Rick y Morty" busca dar una mirada única </ion-card-title>
            <ion-card-subtitle>"Rick and Morty:The Anime" tendrá 10 episodios..</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-card>
       </ion-slide>

       <ion-slide >
        <ion-card>
          <img src="/assets/img/noticia3.png">
          <ion-card-header>
            <ion-card-title>'Rick y morty': ¿está confirmada la temporada 7?</ion-card-title>
            <ion-card-subtitle>¿Seguiremos las aventuras de Rick y Morty en una séptima temporada?</ion-card-subtitle>
          </ion-card-header>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-card>
       </ion-slide>

      </ion-slides>
  </div>

  <div class="noticias">
    <h1>
      Recomendado
    </h1>
    <ion-list>
      <ion-row >
        <ion-col size="4">
          <img style="width: 300px; height: 100px;object-fit: cover;border-radius: 4px;" src="/assets/img/noticas/new1.jpg" />
        </ion-col>
        <ion-label>
          <h1>High on Life?</h1>
          <p style="font-weight: 200;">El juego inspirado </p>
          <p style="font-weight: 200;">fuertemente en Rick y Morty </p>
          <p style="font-weight: 200;">Ya esta para pc y consola.</p>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-label>
      </ion-row >

      <ion-row >
        <ion-col size="4">
          <img style="width: 300px; height: 100px;object-fit: cover;border-radius: 4px;" src="/assets/img/noticas/new2.png" />
        </ion-col>
        <ion-label>
          <h1>Temporada 7?</h1>
          <p style="font-weight: 200;">Los detalles que debes</p>
          <p style="font-weight: 200;">conocer sobre la séptima</p>
          <p style="font-weight: 200;">temporada de Rick and Morty</p>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-label>
      </ion-row >

      <ion-row >
        <ion-col size="4">
          <img style="width: 300px; height: 100px;object-fit: cover;border-radius: 4px;" src="/assets/img/noticas/new3.png" />
        </ion-col>
        <ion-label>
          <h1>Explicacion 6x09</h1>
          <p style="font-weight: 200;">Hoy explicaremos el episodio</p>
          <p style="font-weight: 200;">6x09 </p>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-label>
      </ion-row >
    </ion-list>

    <ion-list>
      <ion-row >
        <ion-col size="4">
          <img style="width: 300px; height: 100px;object-fit: cover;border-radius: 4px;" src="/assets/img/noticas/new4.png" />
        </ion-col>
        <ion-label>
          <h1>Explicacion 6x08</h1>
          <p style="font-weight: 200;">El juego inspirado </p>
          <p style="font-weight: 200;">6x08</p>
          <ion-button fill="clear">Saber mas</ion-button>
        </ion-label>
      </ion-row >


    </ion-list>

  
  </div>

</ion-content>
