
ion-tab-bar{
    --border: none;
    --background: rgb(255, 255, 255);
    //backdrop-filter: blur(6px);
    border-radius: 26px;

    --background: rgb(255, 255, 255);
    backdrop-filter: blur(6px);

  }
  ion-icon{
    color: rgb(31, 31, 31);
    color: rgb(0, 0, 0);
  }
