<ion-header>
</ion-header>

<ion-content>
  
  <div class="panel">
    <ion-tab-button tab="inicio">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-tab-button>
  </div>
  <div class="header">
    <img src="/assets/icon/tienda.png" alt="">
  </div>


  <h1>ROPA</h1>
  <div class="Ropa">
    <ion-card>
      <img src="/assets/img/tienda/ropa1.png" alt="">
      <h2>R&M Pink 2021 Hoodie</h2>
      <p>$44.99</p>
    </ion-card>

    <ion-card>
      <img src="/assets/img/tienda/ropa2.png" alt="">
      <h2>New RM 2021 Hoodie</h2>
      <p>$44.99</p>
    </ion-card>

    <ion-card>
      <img src="/assets/img/tienda/ropa3.png" alt="">
      <h2>Sky blue sweatshirt</h2>
      <p>$44.99</p>
    </ion-card>

    <ion-card>
      <img src="/assets/img/tienda/ropa4.png" alt="">
      <h2>Purple Devil RM Hoodie</h2>
      <p>$44.99</p>
    </ion-card>
  </div>
  <ion-button>Ver mas</ion-button>
  <img src="/assets/img/gif/gif2.gif" alt="">

  <h1>R&M Funko POP!</h1>
  <div class="funkos">
    <ion-slides [options]="in" class="ion-margin-top">
      <ion-slide>
        <ion-card>
          <img src="/assets/img/funko/funko1.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/funko/funko2.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/funko/funko3.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/funko/funko4.png">
        </ion-card>
       </ion-slide>
      </ion-slides>
  </div>
  <ion-button>Ver mas</ion-button>
  <h1>R&M Tasas!</h1>
  <div class="tasas">
    <ion-slides [options]="in" class="ion-margin-top">
      <ion-slide>
        <ion-card>
          <img src="/assets/img/tasas/tasa1.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/tasas/tasa2.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/tasas/tasa3.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/tasas/tasa4.png">
        </ion-card>
       </ion-slide>
      </ion-slides>
  </div>
  <ion-button>Ver mas</ion-button>
</ion-content>
