
h1{
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}
.Ropa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ion-card{
        text-align: center;
        height: 250px;
        width: 140px;
        h2{
            font-weight: bold;
            color: black;
            font-size: 120%;
        }
        p{
            color: rgb(0, 0, 0);
            font-size: 100%;
        }
    }
    
}

ion-button{
    padding-left: 110px;
}

.panel{
    padding-right: 230px;
    margin-top: 50px;
    ion-icon{
      color: #000000;
    }

  }
.header{
  img{
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
}