<ion-header>

</ion-header>

<ion-content>

  <div class="panel">
    <ion-tab-button tab="inicio">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-tab-button>
  </div>

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="/assets/icon/3d icon/download.png" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <img [src]="" *ngIf="">
    </div>
    <ion-button (click)="presentAlert()">Cambiar foto </ion-button>
    <h1>Informacion</h1>

    <ion-item>
      <ion-input placeholder="Nombre" class="custom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email" class="custom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" class="custom"></ion-input>
    </ion-item>

    <h1>Genero</h1>
    <ion-item>
      <ion-checkbox slot="end"></ion-checkbox>
      <ion-label>Hombre</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="end"></ion-checkbox>
      <ion-label>Mujer</ion-label>
    </ion-item>

    <h1>Fecha de nacimiento</h1>

    <ion-datetime-button datetime="datetime"></ion-datetime-button>
   <ion-modal [keepContentsMounted]="true">
   <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
   </ion-modal>

   <ion-button>Guardar</ion-button>
 

    </div>

</ion-content>
