<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding>
      <ion-item href="login">
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-icon style="position:relative; left: 0px;" name="enter-outline"></ion-icon> <ion-label>Iniciar sesion / registrarse</ion-label> <ion-icon style="position:fixed; right: 30px;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      </ion-item>
  
     
    </ion-item-sliding>
  
    <!-- Sliding item with expandable options on both sides -->
    <ion-item-sliding>
      <ion-item href="#">
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-icon style= "position: relative; left: 0px;" name="airplane-outline"></ion-icon> <ion-label>Direcciones de entrega</ion-label> <ion-icon style="position:fixed; right: 30px;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item>
    </ion-item-sliding>
  
    <ion-item-sliding>
      <ion-item href="#">
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable>
          Delete
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-icon style= "position: relative; left: 0px;" name="repeat-outline"></ion-icon> <ion-label>Idioma</ion-label> <ion-icon style="position:fixed; right: 30px;" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item>
    </ion-item-sliding>
  
    