<ion-header class="ion-no-border">

  <div class="header">
    <h1>Bienvenido</h1>
    <div class="avatar">
      <ion-img src="/assets/icon/Asian Man.png"></ion-img>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src="/assets/img/blue4.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="/assets/img/blue1..jpg" >
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="/assets/img/blue2.jpg">
      </ion-card>
    </ion-slide>

  </ion-slides>

<!---Categorias-->

  <div class="categories">

  </div>




</ion-content>
