<ion-header class="ion-no-border">
</ion-header>
<ion-content [fullscreen]="true">


  <!---Header-->
  <div class="header">
    <h1>David</h1>
    <div class="avatar">
      <img src="/assets/icon/3d icon/download.jpg" alt="">
    </div>

  </div>

  <!---Slide-->

  <div class="slide">

    <ion-slides [options]="option" class="ion-margin-top">

      <ion-slide>
        <ion-card>
          <img src="/assets/img/oferton1.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/oferton2.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/oferton3.png">
        </ion-card>
       </ion-slide>

      </ion-slides>

  </div>
   <!---Categorias-->
   <!---Populares-->

   <div class="in">
    <h2>Populares</h2>
    <ion-slides [options]="in" class="ion-margin-top">
      <ion-slide>
        <ion-card>
          <img src="/assets/img/blue1..jpg">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/headphone2.png">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/blue4.jpg">
        </ion-card>
       </ion-slide>

       <ion-slide>
        <ion-card>
          <img src="/assets/img/blue7.jpg">
        </ion-card>
       </ion-slide>

      </ion-slides>

   </div>




  <!---Buscador-->
  <app-searchbar></app-searchbar>


</ion-content>

